# Obtenha em my.telegram.org
# Get on my.telegram.org
API_ID=123456789
API_HASH="a4zx97bee9e3573c324b5z48sac42e8a"

# Seu número de telefone no formato internacional
# Your Phone Number with International code
PHONE_NUMBER="+5511987654321"

# A senha da sua Verificação em Duas Etapas (2FA).
# Se você não tiver uma, deixe esta linha EM BRANCO.
# Your password for double verification (2FA)
# If you don't have one leave it blank
PASSWORD="strongpassword"
CHAT_ID=123456789